.inner-shadow {
    --v:-7px;
    --v2:15px;
    -webkit-box-shadow: inset 0px 0px var(--v2) var(--v) rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px var(--v2) var(--v) rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px var(--v2) var(--v) rgba(0,0,0,0.75);
}

.btn {
    cursor: pointer;
}